body {
  /*  Change background color, set global font family */
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.content-wrapper {
  /*  set background color for main content, center content on page */
  background-color: white;
  width: 80%;
  margin: auto;
}

header h1 {
  /*  add color, make bigger, center, add padding */
  color: hsl(269, 39%, 49%);
  font-size: 2.5rem;
  text-align: center;
  padding: 1.5rem .5rem .5rem;
  
}

.main-nav {
  /* Remove bullets */
  background-color: hsl(262, 42%, 49%);
  list-style: none;

}

.main-nav li {
  /* add border between elements, float the elements, center link content, width on links, set font color */
  background-color: hsl(262, 42%, 49%);
  float: left;
  border-right: .3rem solid hsl(262, 49%, 38%);
  padding: .5rem 3rem;
  color: white;
  
}

.main-nav li:last-of-type {
  border: 0px;
}

.main-nav a {
  /*  Set link color to white, remove underline, make bold */
  color: white;
  text-decoration: none;
  font-weight: bold;

}

aside {
  /*  clear the float, float it left, background color */
  clear: both;
  float: left;
  width: 23%;
  background-color: hsl(264, 16%, 75%);

}

aside ul {
  /*  clear both, set padding for full ul */
  padding: 3rem 1rem 5rem;
  clear: both;
}

aside li {
  /*  Set padding for individual li's*/
  padding: 1rem;
  text-align: center;
}

aside a {
  /* set link color to white, remove underline, make bold; */
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-article {
  /*  change background color, float left */
  float: left;
  width: 77%;
  background-color: hsl(218 ,3%, 90%);

}

.main-fig {
  /* Center the figure with margin: auto */
  margin-left: 10%;
  margin-right: 10%;
  padding: 3rem 10% 1rem;
}

img.main-img {
  padding: 1rem;
  width: 400px;

}

figcaption {

  width: 450px;
  font-size: .9rem;
  text-align: center;
  
}

footer {
  /*  images float left and centered on the page */
  clear: both;
  background-color: white;
  margin: auto;
  width: 260px;
  padding: 1rem 2rem;
}

.icon {
  width: 35px;
  padding: 0 1.5rem;
}